<h1>Users list</h1>
<% @users.each do | user | %>
    <div style="margin-top: 1rem">
        <strong>Name: </strong> <%= user.first_name + " " + user.last_name %> <br />
        <strong>Email: </strong> <%= user.email %> <br />
        <%= link_to "View Profile", profile_path(user) %>
    </div> 
<% end %>