<h1> 
<%= %>
Posts
</h1>
<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
            
<% @posts.each do | post | %>
    <div style="margin-top: 1rem">
        <% if post.post_type != 'text' %>
            <% if post.post_type == 'video' %>
                <%= render "video_post", obj: post %>
            <% else %>   
                <%= render "image_post", obj: post %>
            <% end %>
        <% else %>
            <%= render "text_post", obj: post %>
        <% end %>
    </div> 
<% end %>

            </div>
        </div>
    </div>
</div>